:root {
    --main-color: #348bc4;
    --black: #000000;
    --bg: #000000;
    --border: 01rem solid rgba(255, 255, 255, 0.3);
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: none;
    transition: 0.3s linear; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background: var(#000000);
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}
.header {
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 99;     
    border-bottom: var(--bg);
    border: #382205 solid 0.1rem;
    background-color: #b99757;
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
   
}

.navbar a {
    margin: 0 1rem;
    font-size: 2rem;
    color: #000000;
    text-align: center;
}

.navbar a:hover {
    border-bottom: #382205 solid 0.2rem;
    padding-bottom: 0.5rem;
    font-size: 2.2rem;
}

.icons img {
    margin: 0 auto;
    cursor: pointer;
    padding-right: 5px;
}

.icons img:hover {
    width:   35px;
    height: 35px;
}

.btn {
    background: #422b0c;
    color: #fafafa;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
}
.btn:hover {
    letter-spacing: 0.1rem;
}

.home-container {
    background: url("./img/logo1.png");
    background-position: center;
    background-size: cover;
}

.content {
    max-width: 60rem;
    background-color: #b99757;
    padding: 2%;
    border-radius: 2rem;
}


.content h3 {
    font-size: 5rem;
    color: #ffffff;
}
.content p {
    font-size: 2rem;
    color: #000000;
    padding: 1rem 0;
    font-weight: 100;
    line-height: 1.8;
}


.home-container section {
    height: 100vh;
    min-width: 100vh;
    display: flex;
    align-items: center;
}

.title {
    font-size: 4rem;
    color: #422b0c;
    text-align: center;
    padding-bottom: 2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.title span {
    color: #b99757;
    text-transform: uppercase;
}

.about .row {
    display: flex;
    align-items: center;
    background-color: #b99757;
    border-radius: 2rem;
    padding: 2rem;
    gap: 2rem;
}

.about .row .content {
    padding: 2rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: #ffffff;
}

.about .row .content p {
    font-size: 1.5rem;
    color: #ffffff;
    padding: 1rem 0;
    font-weight: 100;
    line-height: 1.8;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box {
    text-align: center;
    background: #b99757;
    border: #000000;
    padding: 5rem;
    cursor: pointer;
}
.menu .box-container .box img {
    margin-bottom: 1rem;
    height: 20mm;
    width: 30mm;
    border-radius: 30%;
}

.menu .box-container .box h3 {
    color: #ffffff;
    font-size: 2rem;
    padding: 1rem 0;
}
.menu .box-container .box .price {
    font-size: 2.5rem;
    color: #ffffff;
    padding: 0.5rem 0;
}
.menu .box-container .box .price span {
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: 100;
    color: #382205;
}
.menu.box-container .box:hover {
    background-color: #ffffff;
}
.menu .box-container .box:hover>*{
    color: #000000;
}

.review .box-container .box {
    border: #000000;
    text-align: center;
    padding: 3rem 2rem;
}
.review .box-container p {
    font-size: 1.5rem;
    color: #382205;
    padding: 2rem 0;
    line-height: 1.8;
    font-weight: lighter;
}
.review .box-container h3 {
   color: #000000;
   font-size: 2rem;
   margin: 1rem 0;
}

.review .box-container .user {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}

.address {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer {
    text-align: center;
}
.footer .share {
    padding: 1rem 0;
}

.footer .share img {
    margin: 0.3;
    cursor: pointer;
    border-radius: 50%;
    padding: 1rem;
    align-items: center;
}

.footer .share img:hover {
    background-color: #b99757;
}